{% extends "layout.html" %} {% block title %} Potato Reviews - {{ info.isbn }}
{% endblock %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Here is the Book Info</h1>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col text-center">
      <div>
        <h2>Book Info</h2>
        <ul>
          <li>Book Title: {{ info.title }}</li>
          <li>ISBN Number: {{ info.isbn }}</li>
          <li>Book Author: {{ info.author }}</li>
          <li>Year Published: {{ info.year }}</li>
          <li>Average Rating: {{ info.average_rating }}</li>
          <li>Number of Reviews: {{ info.review_count}}</li>
          <li>Average Rating on Potato Reviews: {{ info.rating }}</li>
          <li>
            Reviews:
            <ul>
              {% for review in info.review %} {% if review.rating %}
              <li>{{review.potato}} : {{review.note}} : {{review.rating}}</li>
              {% else %}
              <li>{{review.potato}} : {{review.note}}</li>
              {% endif %} {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
