{% extends "layout.html" %} {% block title %} Potato Reviews - {% endblock %} {%
block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Here is the Book Info + Future Reviews</h1>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col text-center">
      <div>
        <h2>Book Info {{ isbn }}</h2>
        <ul>
          <li>Book Name:</li>
          <li>Book Author:</li>
          <li>Year Published:</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
