{% extends "layout.html" %} {% block title %} Potato Reviews {% endblock %} {%
block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Browse all the Books</h1>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col text-center">
      <div>
        <h2>Browse all the Books</h2>
      </div>

      <div>
        <form class="d-flex justify-content-center" action="book" method="POST">
          <input name="isbn_number" placeholder="ISBN Number" />
          <button>search isbn</button>
        </form>

        <ul>
          {% for book in books %}
          <li>
            {{ book.isbn }} :
            <a href="{{ url_for('books', isbn=book.isbn) }}"
              >{{ book.title }} by {{ book.author }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
