{% extends "layout.html" %} {% block title %} Potato Reviews {% endblock %} {%
block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Here are the Reviews</h1>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col text-center">
      <div>
        <h2>Here are all the reviews in the database</h2>
      </div>

      <div>
        <h2>Search for a book on the website</h2>

        <form class="d-flex justify-content-center" method="POST">
          <input name="isbn_number" placeholder="ISBN Number" />
          <button>search isbn</button>
        </form>
        
        <ul>
          {% for book in books %}
          <li>
            {{ book.isbn }} : {{ book.title }} by {{ book.author }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
