{% extends "layout.html" %} {% block title %} Potato Review Form {% endblock %}
{% block stylesheet %}
<style type="text/css">
  input,
  label {
    display: block;
  }

  .ratings {
    float: left;
    margin-right: 20px;
  }
</style>
{% endblock %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Potato Review Form</h1>
      <br />
      {{ message }}
      <br />
    </div>
  </div>

  <form class="d-flex justify-content-center form-group" method="POST">
    <div class="row">
      <div class="col text-center">
        <input name="isbn_review" placeholder="ISBN Number" />

        <br />
        <br />

        <div>
          <div class="ratings">
            <label for="one">
              One
            </label>
            <input type="radio" name="rating" value="1" />
          </div>
          <div class="ratings">
            <label for="two">
              Two
            </label>
            <input type="radio" name="rating" value="2" />
          </div>
          <div class="ratings">
            <label for="three">
              Three
            </label>
            <input type="radio" name="rating" value="3" />
          </div>
          <div class="ratings">
            <label for="four">
              Four
            </label>
            <input type="radio" name="rating" value="4" />
          </div>
          <div class="ratings">
            <label for="five">
              Five
            </label>
            <input type="radio" name="rating" value="5" />
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <label for="text_review">Review</label>
        <textarea
          name="text_review"
          id="text_form_review"
          class="form-control"
          rows="5"
        >
          Type the review here
        </textarea>
        <br />
        <button>submit review</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
