{% extends "layout.html" %} {% block title %} Potato Review Form {% endblock %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Potato Review Form</h1>
      <br />
      <br />
    </div>
  </div>

  <form class="d-flex justify-content-center form-group" method="POST">
    <div class="row">
      <div class="col text-center">
        <input name="isbn_review" placeholder="ISBN Number" />

        <br />
        <br />
        <br />

        <label for="text_review">Review</label>
        <textarea
          name="text_review"
          id="text_form_review"
          class="form-control"
          rows="5"
        >
          Type the review here
        </textarea>
        <br />
        <button>submit review</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
