{% extends "layout.html" %} {% block title %} The Official Potato Book Reviews
{% endblock %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Potato Book Reviews</h1>
      <br />
      {{ message }}
      <br />
      <form method="POST">
        <input name="username" placeholder="username" />
        <br />
        <input name="password" placeholder="password" />
        <br />
        <br />
        <button>let's go</button>
      </form>

      <br />
      <br />
      don't have an account?
      <br />
      <a href="{{ url_for('register') }}">register here</a>
    </div>
  </div>
</div>

{% endblock %}
<!-- action="{{ url_for('main') }}" -->
