{% extends "layout.html" %} {% block title %} Register Account {% endblock %} {%
block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Register Account</h1>
      <br />
      {{ message }}
      <br />
      <form method="POST">
        <input name="username" placeholder="username" />
        <br />
        <input name="password" placeholder="password" />
        <br />
        <br />
        <button>register</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
<!-- action="{{ url_for('main') }}" -->
