{% extends "layout.html" %} {% block title %} Success {% endblock %} {% block
body %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Success</h1>
      <br />
      {{ message }} {{var}}
      <br />
      <br />
      <form
        class="d-flex justify-content-center"
        action="{{ url_for('display') }}"
      >
        <button>books</button>
      </form>

      <br />

      <form
        class="d-flex justify-content-center"
        action="{{ url_for('books', isbn=var) }}"
      >
        <button>"{{ book }}" Information</button>
      </form>
      {% endblock %}
    </div>
  </div>
</div>
